@import "../../../constants/COLORS";
@import "../../../constants/FLEXBOX";

.big-container {
  width: 100%;
  height: 200px;
  .btn-container {
    margin: 0 2rem;
    .btn-number {
      border: 1px solid $primaryColor;
      width: 88px;
      height: 37px;
      top: 395px;
      left: 49px;
      border-radius: 18.5px;

      color: $primaryColor;
    }
  }
}
