@import "../../../constants/COLORS";
@import "../../../constants/FLEXBOX";

.input-container {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  div {
    width: 95%;
  }
  label {
    color: $primaryColor;
    font-weight: bold;
  }
  .input {
    width: 100%;
    height: 50px;
    top: 229px;
    left: 22px;
    border: 1px white;
    border-radius: 7px;
    background-color: $secondaryColor;
    margin: 0 auto;
  }
}
